<h3>{{viewTitle}}</h3>

<form action="/contactsList" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{contact._id}}">
    <div class="form-row">
        <div class="form-group col-md-5">
            {{!-- <label>First Name</label> --}}
            <input type="text" class="form-control" name="fName" placeholder="First Name" id="fnmBackend" value="{{contact.fName}}">
            <div class="text-danger">
                {{contact.fNameError}}
            </div>
        </div>        
        <div class="form-group col-md-5">
            <input type="text" class="form-control" name="lName" placeholder="Last Name" id="lnmBackend" value="{{contact.lName}}">
            <div class="text-danger">
                {{contact.lNameError}}
            </div>
        </div>
        <div class="form-group col-md-2">
            <input type="text" class="form-control" name="nameInitials" placeholder="Name Initials" id="initials" onfocusout="nmInitials()" value="{{contact.nameInitials}}" readonly>
        </div>

    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="email" placeholder="eMail Address" value="{{contact.email}}">
        <div class="text-danger">
            {{contact.emailError}}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">
            <input type="text" class="form-control" name="phoneNumber" maxlength="10" placeholder="Phone Number" value="{{contact.phoneNumber}}">
            <div class="text-danger">
                {{contact.phoneNumberError}}
            </div>
        </div>

        <div class="form-group col-md-4">
            <select class="form-control form-control-md" aria-label="Default select example" name="nativeStateSelect">
                <option>--- Enter Native State ---</option>
                <option id="state" name="nativeState" value="Andhra Pradesh">Andhra Pradesh</option>
                <option name="nativeState" value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option name="nativeState" value="Assam">Assam</option>
                <option name="nativeState" value="Bihar">Bihar</option>
                <option name="nativeState" value="Chhattisgarh">Chhattisgarh</option>
                <option name="nativeState" value="Goa">Goa</option>
                <option name="nativeState" value="Gujarat">Gujarat</option>
                <option name="nativeState" value="Haryana">Haryana</option>
                <option name="nativeState" value="Himachal Pradesh">Himachal Pradesh</option>
                <option name="nativeState" value="Jharkhand">Jharkhand</option>
                <option name="nativeState" value="Karnataka">Karnataka</option>
                <option name="nativeState" value="Kerala">Kerala</option>
                <option name="nativeState" value="Madhya Pradesh">Madhya Pradesh</option>
                <option name="nativeState" value="Maharashtra">Maharashtra</option>
                <option name="nativeState" value="Manipur">Manipur</option>
                <option name="nativeState" value="Meghalaya">Meghalaya</option>
                <option name="nativeState" value="Mizoram">Mizoram</option>
                <option name="nativeState" value="Nagaland">Nagaland</option>
                <option name="nativeState" value="Odisha">Odisha</option>
                <option name="nativeState" value="Punjab">Punjab</option>
                <option name="nativeState" value="Rajasthan">Rajasthan</option>
                <option name="nativeState" value="Sikkim">Sikkim</option>
                <option name="nativeState" value="Tamil Nadu">Tamil Nadu</option>
                <option name="nativeState" value="Telangana">Telangana</option>
                <option name="nativeState" value="Tripura">Tripura</option>
                <option name="nativeState" value="Uttar Pradesh">Uttar Pradesh</option>
                <option name="nativeState" value="Uttarakhand">Uttarakhand</option>
                <option name="nativeState" value="West Bengal">West Bengal</option>
                <option name="nativeState" value="Andaman and Nicobar Island">Andaman and Nicobar Island</option>
                <option name="nativeState" value="Chandigarh">Chandigarh</option>
                <option name="nativeState" value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
                <option name="nativeState" value="Delhi">Delhi</option>
                <option name="nativeState" value="Ladakh">Ladakh</option>
                <option name="nativeState" value="Lakshadweep">Lakshadweep</option>
                <option name="nativeState" value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option name="nativeState" value="Puducherry">Puducherry</option>
            </select>
            <div class="text-danger">
                {{contact.nativeState}}
            </div>
        </div>
        
        <div class="form-group col-md-3">
            <input type="text" class="form-control" name="city" placeholder="City" value="{{contact.city}}">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <input type="date" class="form-control" name="dob" placeholder="Date of Birth" value="{{contact.dob}}" id="date">
        </div>
        
        <div class="form-group col-md-8">
        <input type="text" class="form-control" name="company" placeholder="Company Name" value="{{contact.company}}">
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/contactsList/list"><i class="fa fa-list-alt"></i> View Contact List</a>
        <a class="btn btn-secondary" href="/contactsList/card"><i class="fa fa-address-card-o"></i> View Contact Card</a>
    </div>
</form>

{{!-- Logic to Dynamically calculate Name initials --}}
<script>
    function nmInitials(){
        var firstName = document.getElementById("fnmBackend").value;
        var lastName = document.getElementById("lnmBackend").value;
        var fullName = firstName + " " + lastName;
        console.log(fullName);
        var initials = fullName.match(/\b\w/g) || [];
        initials = ((initials.shift() || '') + (initials.pop() || '')).toUpperCase();
        console.log(initials); 
        document.getElementById("initials").value=initials;
    }
</script>

