<h3>{{viewTitle}}</h3>

<form action="/contactsList" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{contact._id}}">
    <div class="form-row">
        <div class="form-group col-md-5">
            {{!-- <label>First Name</label> --}}
            <input type="text" class="form-control" name="fName" placeholder="First Name" id="fnmBackend" value="{{contact.fName}}">
            <div class="text-danger">
                {{contact.fNameError}}
            </div>
        </div>        
        <div class="form-group col-md-5">
            <input type="text" class="form-control" name="lName" placeholder="Last Name" id="lnmBackend" value="{{contact.lName}}">
            <div class="text-danger">
                {{contact.lNameError}}
            </div>
        </div>
        <div class="form-group col-md-2">
            <input type="text" class="form-control" name="nameInitials" placeholder="Name Initials" id="initials" onfocusout="nmInitials()" value="{{contact.nameInitials}}" readonly>
        </div>

    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="email" placeholder="eMail Address" value="{{contact.email}}">
        <div class="text-danger">
            {{contact.emailError}}
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="phoneNumber" maxlength="10" placeholder="Phone Number" value="{{contact.phoneNumber}}">
        <div class="text-danger">
            {{contact.phoneNumberError}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" name="dob" placeholder="Date of Birth DD-Month-YYYY" value="{{contact.dob}}">
        </div>
        <div class="form-group col-md-6">
        <input type="text" class="form-control" name="company" placeholder="Company" value="{{contact.company}}">
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/contactsList/list"><i class="fa fa-list-alt"></i> View Contact List</a>
        <a class="btn btn-secondary" href="/contactsList/card"><i class="fa fa-address-card-o"></i> View Contact Card</a>
    </div>
</form>

{{!-- Logic to Dynamically calculate Name initials --}}
<script>
    function nmInitials(){
        var firstName = document.getElementById("fnmBackend").value;
        var lastName = document.getElementById("lnmBackend").value;
        var fullName = firstName + " " + lastName;
        console.log(fullName);
        var initials = fullName.match(/\b\w/g) || [];
        initials = ((initials.shift() || '') + (initials.pop() || '')).toUpperCase();
        console.log(initials); 
        document.getElementById("initials").value=initials;
    }
</script>