{{#if message}}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{message.intro}}</strong>{{message.message}}
        </div>
{{/if}}

<h3>Contact Card</h3>
<a class="btn btn-secondary" href="/contactsList"><i class="fa fa-plus"></i> Add New Contact </a>
<a class="btn btn-secondary" href="/contactsList/list"><i class="fa fa-list-alt"></i> View Contact List</a>
<br><br>
<style>
    p{font-size:13px; margin-bottom:10px}
    .card{box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; margin-bottom:15px;}
    .card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
    .container {padding: 15px 0 2px 16px;}
    .circle {width: 37px; height: 37px; border-radius: 100%; font-size: 17px; color: #3faaef; text-align: center; background: #000; padding-top:5px; display:inline-block; float:left; margin: -7px 0 0 -5px}
    .dateLabel{float:right; width:30px; height:21px; font-size:13px; color:white; background-color:#ff474c; text-align: center; border-radius:3px; margin: 2px 15px 0 -5px; padding:2px}
</style>
<div class='row'>
    {{#each list}}
    <div class='col-md-4'>
        <div class='card'>
        <div class='container'>
            <div class='circle'><b>{{this.nameInitials}}</b></div>
            <h5><b style='margin-left:6px'> {{this.fName}} {{this.lName}}</b><label class='dateLabel' data-toggle='tooltip' title='Days left till birthday'>{{this.daysLeft}}</label></h5>
            <p><i class="fa fa-envelope fa-sm" aria-hidden="true" style="margin: 15px 7px 0 0"></i>{{this.email}}</p>
            <p><i class="fa fa-phone fa-lg" aria-hidden="true" style="margin-right:7px"></i>{{this.phoneNumber}}</p>
            <p><i class="fa fa-birthday-cake fa-sm" aria-hidden="true" style="margin-right:7px; color:#fc6060"></i>{{this.dob}}</p>
            <p><i class="fa fa-briefcase fa-sm" aria-hidden="true" style="margin-right:7px"></i>{{this.company}} 
                <a href="/contactsList/{{this._id}}"><i class="fa fa-pencil fa-sm" aria-hidden="true" style="float:right; margin: 5px 15px 0 0 " data-toggle='tooltip' title='Edit'></i></a>
                <a href = "/contactsList/delete/{{this._id}}" onclick="return confirm('Delete the record');"><i class="fa fa-trash fa-sm" aria-hidden="true" style="float:right; margin: 5px 10px 0 0" data-toggle='tooltip' title='Delete'></i></a>    
            </p>
        </div>
        </div>
    </div>    
    {{/each}}
</div>



